[submodule "packages/foliate-js"]
	path = packages/foliate-js
	url = git@github.com:johnfactotum/foliate-js.git
[submodule "packages/tauri"]
	path = packages/tauri
	url = git@github.com:chrox/tauri.git
[submodule "packages/pdf-js"]
	path = packages/pdf-js
	url = git@github.com:mozilla/pdf.js.git
[submodule "packages/wry"]
	path = packages/wry
	url = git@github.com:chrox/wry.git
