@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  border-radius: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    border-radius: 10px;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: transparent;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

foliate-view {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
}

@keyframes scaleUpAndDown {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.hover-bar-anim:hover ~ .foliate-viewer {
  animation: scaleUpAndDown 0.3s ease forwards;
}

.window-button {
  @apply inline-flex h-6 w-6 items-center justify-center rounded-full;
  @apply transition duration-200 ease-in-out transform hover:scale-105;
  @apply bg-base-300 hover:bg-gray-300;
}

.rounded-window {
  border-radius: 10px;
}

.rounded-window-left {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-window-right {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}